<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
      <plist version="1.0">
      <dict>
         <key>items</key>
         <array>
            <dict>
               <key>assets</key>
               <array>
                  <dict>
                     <key>kind</key>
                     <string>software-package</string>
                     <key>url</key>
                     <string>https://github.com/Am1nCmd/IPA/releases/download/f5db4baa44/net.whatsapp.WhatsAppSMB_v2.19.120_watusi_1.2.21_nextdev2.ipa</string>

                  </dict>
                  <dict>
                                       <key>kind</key>
                                       <string>display-image</string>
                                       <key>needs-shine</key>
                                       <false/>
                                       <key>url</key>
                                       <string>https://www.installonair.com/storage/ipaz/vpm1SS/vpm1SS.png</string>
                  </dict>
              </array>
              <key>metadata</key>
              <dict>
                   <key>bundle-identifier</key>
                   <string>net.whatsapp.WhatsAppSMB</string>
                   <key>bundle-version</key>
                   <string>2.19.120</string>
                   <key>kind</key>
                   <string>software</string>
                   <key>title</key>
                   <string>‎WA Business</string>
              </dict>
            </dict>
        </array>
      </dict>
      </plist>
